.env
markets.json
users.json

/node_modules
/back-end/flask_session
/back-end/data/
/back-end/__pycache__
/back-end/docker-compose.yml
/back-end/error.log
/back-end/csv_exports
/back-end/logs
/back-end/tests/test_data
.DS_Store

*__pycache__*